.invoice-form-footer__spacer {
  margin-bottom: 110px;
}

.invoice-form-footer__footer {
  width: 631px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  position: fixed;
  bottom: 0;
  left: 103px;
  padding: 31px 56px;
  display: flex;
}
