.go-back {
  margin-bottom: 22px;
}

.go-back__button {
  padding: 10px 5px 10px 24px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.go-back__button:hover {
  color: #7e88c3;
}
