.invoice-form {
  width: 719px;
  min-width: 360px;
  padding: 65px 56px 110px 159px;
  background: #ffffff;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  animation: desplazamiento 0.3s linear;
}

.invoice-form-title {
  font-size: 24px;
  font-weight: bold;
  color: #0c0e16;
  line-height: 32px;
  letter-spacing: -0.5px;
  padding-bottom: 48px;
}

@keyframes desplazamiento {
  0% {
    left: -719px;
  }
  100% {
    left: 0;
  }
}

.five-fields-container__validation {
  padding-bottom: 42px;
}

.fieldset-from {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 7% 35% 35%;
  gap: 24px;
  margin-bottom: 48px;
}

.invoice-form-heading {
  grid-column: 1/4;
  grid-row: 1/2;
}

.field-from-streetAddress {
  grid-column: 1/4;
  grid-row: 2/3;
}

.fieldset-to {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4% 18% 18% 18% 18%;
  gap: 24px;
  margin-bottom: 48px;
}

.field-to-clientName {
  grid-column: 1/4;
  grid-row: 2/3;
}

.field-to-clientEmail {
  grid-column: 1/4;
  grid-row: 3/4;
}

.field-to-streetAddress {
  grid-column: 1/4;
  grid-row: 4/5;
}

.fieldset-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 43%);
  gap: 24px;
}

.field-details-projectDescription {
  grid-column: 1/3;
}

.fieldset-charges > div > div {
  display: grid;
  margin-bottom: 18px;
  grid-template-columns: 40% 12% 20% 12% 4%;
  gap: 16px 3%;
}

.field-charges\[0\]-qty {
  grid-column: 2/3;
  grid-row: 1/2;
  min-width: 42px;
}

.fieldset-charges > div > div button {
  margin-top: 32px;
}

.field__input[name$=".total"] {
  text-align: left;
  border: none;
  color: #888eb0;
}

@media (max-width: 500px) {
  .fieldset-charges > div > div {
    height: 176px;
    margin-bottom: 48px;
    grid-template-columns: 20% 34% 21% 10%;
    grid-template-rows: 45% 41.5%;
    gap: 24px 5%;
  }

  .field-charges\[0\]-itemName {
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .field-charges\[0\]-qty {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .fieldset-charges > div > div button {
    margin: auto;
    margin-bottom: 5px;
    padding: 20px 20px 5px 20px;
  }

  .fieldset-from {
    grid-template-columns: 47% 47%;
    grid-template-rows: 5% 24% 24% 24%;
    margin-bottom: 40px;
  }

  .field-from-streetAddress {
    grid-column: 1/3;
  }

  .field-from-city {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .field-from-postCode {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .field-from-country {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .fieldset-to {
    grid-template-columns: 47% 47%;
    grid-template-rows: 3% 14.5% 14.5% 14.5% 14.5% 14.5%;
    margin-bottom: 40px;
  }
  .field-to-clientName,
  .field-to-clientEmail,
  .field-to-streetAddress {
    grid-column: 1/3;
  }

  .field-to-city {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .field-to-postCode {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .field-to-country {
    grid-column: 1/3;
    grid-row: 6/7;
    width: 100%;
  }

  .fieldset-details {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 27%);
    gap: 24px;
  }
  .field-details-invoiceDate {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .field-details-projectDescription {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .field-details-paymentTerms {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .footer-form > .button-component {
    padding: 10px 24px;
  }
}
