.new-invoice-button {
  cursor: pointer;
  background-color: #7c5dfa;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  padding: 6px 0 6px 6px;
  margin: 0;
  border: none;
  border-radius: 24px;
  user-select: none;
}

.new-invoice-button__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-decoration: none;
  color: white;
}

.new-invoice-button__icon-wrapper {
  background-color: white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.new-invoice-button__icon {
  height: 10px;
  width: 10px;
  color: #7c5dfa;
}

.new-invoice-button__text {
  margin: 0 14px 0 8px;
  padding-top: 1px;
}
