.form {
  width: 719px;
  min-width: 360px;
  padding: 65px 56px 0px 159px;
  background: #ffffff;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  animation: desplazamiento 0.8s ease-out;
}

@keyframes desplazamiento {
  0% {
    left: -719px;
  }
  100% {
    left: 0;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #0c0e16;
  line-height: 32px;
  letter-spacing: -0.5px;
  padding-bottom: 48px;
}

.h2 {
  display: block;
  color: #7c5dfa;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin-bottom: 24px;
}

.field__label,
.field__total h3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
  display: flex;
  justify-content: space-between;
}

.field__input {
  width: 100%;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 24px;
  padding: 17px 0px 16px 20px;
  border: solid 1px #dfe3fa;
  border-radius: 4px;
  outline: none;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.three-input-container {
  display: grid;
  margin-bottom: 48px;
  grid-template-columns: repeat(3, 30%);
  gap: 0 5%;
  position: relative;
}

.three-input-container .field__validation {
  display: none;
  color: #ec5757;
  position: absolute;
  bottom: 0;
}

.two-input-container {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
  margin-bottom: 24px;
}

.two-input-container .field__validation {
  display: none;
}
.field__input--no-margin-bottom {
  margin-bottom: 0px;
}

.item-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.375px;
  color: #777f98;
  margin: 32px 0 16px 0;
}

.five-fields-container {
  display: grid;
  grid-template-columns: 214px 46px 100px 45px auto;
  gap: 16px;
}

.five-fields-container .field__validation {
  display: none;
}

.five-fields-container--hidden-labels label,
h3.field__title--hidden {
  display: none;
}

.five-fields-container .field__input {
  margin-top: 0;
  margin-bottom: 18px;
}

.five-fields-container .field__label {
  margin-bottom: 16px;
}

.field__input--center {
  padding-left: 0px;
  text-align: center;
}

.field__total div {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
  padding-top: 17px;
}

.field__button-delete {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 16px 0 auto auto;
}

.field__button-delete--margin-top {
  margin-top: 47px;
}

.five-fields-container__add-new-item,
.footer-form__discard-button,
.footer-form__draft-button,
.footer-form__save-send-button {
  width: 100%;
  height: 48px;
  margin-bottom: 33px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: #f9fafe;
  border-radius: 24px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #7e88c3;
}

.five-fields-container__add-new-item {
  margin-bottom: 39px;
}

.footer-form {
  width: 719px;
  min-width: 360px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  position: fixed;
  bottom: 0;
  left: 0px;
  padding: 31px 56px 31px 159px;
  display: flex;
  animation: desplazamiento 0.8s ease-out;
}

.five-fields-container__validation {
  padding-bottom: 42px;
}

.five-fields-container__spacer {
  margin-bottom: 110px;
}

.footer-form__discard-button {
  width: 96px;
  height: 48px;
  margin-right: auto;
}

.footer-form__draft-button {
  width: 133px;
  height: 48px;
  background: #373b53;
  color: #888eb0;
  margin: 0 8px;
}

.footer-form__save-send-button {
  width: 128px;
  height: 48px;
  background: #7c5dfa;
  color: #ffffff;
}

.field__imput--type-number::-webkit-inner-spin-button,
.field__imput--type-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.field__imput--type-number[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-calendar-picker-indicator {
  width: 16px;
  height: 16px;
}

::placeholder {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
  opacity: 0.4;
}

.field__validation {
  display: none;
  color: #ec5757;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
}

.field--error .field__label {
  color: #ec5757;
}

.field--error .field__input {
  border: solid 1px #ec5757;
}

.field__input--focus {
  border: solid 1px #7c5dfa;
}

@media (max-width: 850px) {
  .form {
    width: 616px;
    padding: 65px 56px 0px 56px;
    top: 80px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .gradient {
    width: 616px;
    left: 0px;
  }

  .footer-form {
    width: 616px;
    left: 0px;
    padding: 31px 56px;
  }
}

@media (max-width: 616px) {
  .form {
    padding: 32px auto 0 auto;
    width: 100%;
    border-radius: 0px;
  }

  .title {
    padding-bottom: 24px;
  }

  .footer-form {
    width: 100%;
  }

  .new-invoice-form__gradient .gradient {
    width: 100%;
  }

  .item-list {
    margin: 66px 0 24px 0;
  }

  .two-input-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 73px);
    gap: 24px;
  }

  .three-input-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 73px);
    gap: 24px 5%;
    margin-bottom: 40px;
  }

  .three-input-container__three {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .five-fields-container {
    grid-template-columns: 25% 35% 20% auto;
    grid-template-rows: repeat(2, 1fr);
    gap: 24px 16px;
    margin-bottom: 48px;
  }

  .five-fields-container__column-item-name {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .five-fields-container__column-qty {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .five-fields-container__column-price {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .five-fields-container__column-total {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .field__button-delete {
    margin-right: 8px;
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .five-fields-container--hidden-labels label,
  h3.field__title--hidden {
    display: inline;
  }

  .five-fields-container .field__input {
    margin-bottom: 0;
  }

  .five-fields-container--hidden-labels .field__button-delete {
    margin-top: 32px;
  }

  .five-fields-container__add-new-item {
    margin-bottom: 88px;
  }

  .footer-form {
    height: 91px;
    padding: 21px 24px 21px 24px;
    border-radius: 0;
  }
}

@media (max-width: 500px) {
  .form {
    padding: 32px 24px 0 24px;
    margin-top: 0;
    top: 75px;
  }
}
