.form {
  padding: 65px 56px 0px 159px;
  background: #ffffff;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #0c0e16;
  line-height: 32px;
  letter-spacing: -0.5px;
  padding-bottom: 48px;
}

.h2 {
  display: block;
  color: #7c5dfa;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin-bottom: 24px;
}

.field__label,
.field__total h3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
  display: flex;
  justify-content: space-between;
}

.field__input {
  width: 100%;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 24px;
  padding: 17px 0px 16px 20px;
  border: solid 1px #dfe3fa;
  border-radius: 4px;
  outline: none;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.three-input-container {
  display: grid;
  margin-bottom: 48px;
  grid-template-columns: repeat(3, 30%);
  gap: 0 5%;
  position: relative;
}

.three-input-container .field__validation {
  display: none;
  color: #ec5757;
  position: absolute;
  bottom: 0;
}

.two-input-container {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
  margin-bottom: 24px;
}

.two-input-container .field__validation {
  display: none;
}
.field__input--no-margin-bottom {
  margin-bottom: 0px;
}

.item-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.375px;
  color: #777f98;
  margin: 32px 0 16px 0;
}

.five-fields-container {
  display: grid;
  grid-template-columns: 214px 46px 100px 45px auto;
  gap: 16px;
}

.five-fields-container .field__validation {
  display: none;
}

.five-fields-container--hidden-labels label,
h3.field__title--hidden {
  display: none;
}

.five-fields-container .field__input {
  margin-top: 0;
  margin-bottom: 18px;
}

.five-fields-container .field__label {
  margin-bottom: 16px;
}

.field__input--center {
  padding-left: 0px;
  text-align: center;
}

.field__total div {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
  padding-top: 17px;
}

.field__button-delete {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 16px 0 auto auto;
}

.field__button-delete--margin-top {
  margin-top: 47px;
}

.five-fields-container__add-new-item,
.footer-form__discard-button,
.footer-form__draft-button,
.footer-form__save-send-button {
  width: 100%;
  height: 48px;
  margin-bottom: 33px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: #f9fafe;
  border-radius: 24px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #7e88c3;
}

.five-fields-container__add-new-item {
  margin-bottom: 39px;
}

.footer-form {
  width: 631px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  position: fixed;
  bottom: 0;
  left: 103px;
  padding: 31px 56px;
  display: flex;
}

.five-fields-container__validation {
  padding-bottom: 42px;
}

.five-fields-container__spacer {
  margin-bottom: 110px;
}

.footer-form__discard-button {
  width: 96px;
  height: 48px;
  margin-right: 139px;
}

.footer-form__draft-button {
  width: 133px;
  height: 48px;
  background: #373b53;
  color: #888eb0;
}

.footer-form__save-send-button {
  width: 128px;
  height: 48px;
  margin-left: 8px;
  background: #7c5dfa;
  color: #ffffff;
}

.view-invoice-page__gradient .gradient {
  display: none;
  width: 100%;
}

@media (max-width: 670px) {
  .view-invoice-page__gradient .gradient {
    display: inline;
  }
}

.field__imput--type-number::-webkit-inner-spin-button,
.field__imput--type-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.field__imput--type-number[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-calendar-picker-indicator {
  width: 16px;
  height: 16px;
}

::placeholder {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
  opacity: 0.4;
}

.field__validation {
  display: none;
  color: #ec5757;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
}

.field--error .field__label {
  color: #ec5757;
}

.field--error .field__input {
  border: solid 1px #ec5757;
}

.field__input--focus {
  border: solid 1px #7c5dfa;
}

@media (max-width: 850px) {
  .form {
    width: 616px;
    padding: 65px 56px 0px 56px;
    top: 80px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .gradient {
    width: 616px;
    left: 0px;
  }

  .footer-form {
    width: 616px;
    left: 0px;
  }
}

@media (max-width: 616px) {
  .form {
    padding: 32px auto 0 auto;
    width: 100%;
    border-radius: 0px;
  }

  .field--media-wrap {
    flex-wrap: wrap;
  }
}
