.invoice-details {
  grid-column: 2/3;
  width: 100%;
  margin-top: 24px;
  padding: 48px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
}

.billing {
  margin-bottom: 45px;
}

.billing-two-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.billing-two-columns__invoice-id {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
  color: #0c0e16;
}

.billing-two-columns__invoice-hashtag {
  color: #888eb0;
}

.billing-two-columns__project-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
  margin-top: 8px;
}

.four-texts {
  font-size: 11px;
  line-height: 18px;
  text-align: right;
  letter-spacing: -0.229167px;
  color: #7e88c3;
}

.four-texts__left {
  text-align: left;
  margin-top: 8px;
}

.billing-three-columns {
  display: grid;
  grid-template-columns: 30% 35% auto;
}

.billing-three-columns__first {
  grid-column: 1/2;
}

.title-and-subtitle--top {
  margin-bottom: 32px;
}

.title-and-subtitle__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
  margin-bottom: 12px;
}

.title-and-subtitle__subtitle {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.3125px;
  color: #0c0e16;
}

.billing-three-columns__second {
  grid-column: 2/3;
  text-align: left;
}

.billing-three-columns__third {
  grid-column: 3/4;
}

.pricing-table {
  width: 100%;
  background: #f9fafe;
  border-radius: 8px 8px 0px 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

.pricing-table__titles th {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.229167px;
  color: #7e88c3;
  padding-top: 32px;
  padding-bottom: 32px;
}

.pricing-table-titles__item-name {
  width: 210px;
  padding-left: 32px;
  text-align: left;
}

.pricing-table-titles__qty,
.pricing-table-titles__price,
.pricing-table-titles__total {
  width: 29px;
}

.pricing-table-titles__price {
  padding-left: 89px;
  text-align: right;
}

.pricing-table-titles__total {
  padding: 0 32px 0 117px;
  text-align: right;
}

.pricing-table__row {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
  height: 15px;
}

.pricing-table__row-item-name {
  padding: 0 0 32px 32px;
  height: 15px;
}

.pricing-table__row-qty,
.pricing-table__row-price,
.pricing-table__row-total {
  padding-bottom: 32px;
}

.pricing-table__row-qty {
  text-align: center;
}

.pricing-table__row-price,
.pricing-table__row-total {
  text-align: right;
}

.pricing-table__row-total {
  padding-right: 32px;
}

.pricing-table__row-qty,
.pricing-table__row-price {
  color: #7e88c3;
}

.pricing-table--row-botomm {
  padding-bottom: 40px;
}

.pricing-table__footer {
  height: 80px;
  background: #373b53;
  color: #ffffff;
}

.pricing-table__footer-amount {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.2px;
  padding-left: 32px;
  text-align: left;
}

.pricing-table__footer-final-price {
  width: 120px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
  letter-spacing: -0.5px;
  padding-right: 32px;
  text-align: right;
}

table tr:last-child th:first-child {
  border-bottom-left-radius: 8px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.pricing-table-mobile {
  display: none;
}

.pricing-table-mobile__container {
  width: 100%;
  background: #f9fafe;
  border-radius: 8px 8px 0px 0px;
  list-style: none;
  padding: 24px 24px 0px 24px;
}

.pricing-table-mobile__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.pricing-table-mobile__title,
.pricing-table-mobile__total,
.pricing-table-mobile__qty-price {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.pricing-table-mobile__qty-price {
  color: #7e88c3;
  padding-top: 8px;
}

.pricing-table-mobile__total {
  text-align: left;
}

.pricing-table-mobile__footer {
  height: 80px;
  background: #373b53;
  border-radius: 0px 0px 8px 8px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.pricing-table-mobile__footer-amount {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.229167px;
}

.pricing-table-mobile__footer-final-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-align: right;
  letter-spacing: -0.416667px;
}

@media (max-width: 670px) {
  .invoice-details .invoice-actions {
    display: none;
  }

  .billing-three-columns {
    grid-template-columns: repeat(2, 50%);
    gap: 32px 0;
  }

  .billing-three-columns__third {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .invoice-details {
    padding: 24px;
  }

  .pricing-table {
    display: none;
  }

  .pricing-table-mobile {
    display: inline;
  }
}

@media (max-width: 490px) {
  .billing-two-columns {
    flex-direction: column;
  }

  .billing-two-columns .four-texts {
    text-align: left;
    padding-top: 30px;
  }

  .billing-three-columns {
    margin-top: 31px;
  }
}

@media (max-width: 670px) {
  .invoice-details {
    margin-bottom: 147px;
  }
}
