.invoice-details {
}

.billing {
}

.billing-two-columns {
}

.billing-two-columns__invoice-id {
}

.billing-two-columns__invoice-hashtag {
}

.billing-two-columns__project-description {
}

.four-texts {
}

.four-texts__left {
  text-align: left;
  margin-top: 8px;
}

.billing-three-columns {
}

.billing-three-columns__first {
}

.title-and-subtitle--top {
}

.title-and-subtitle__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
  margin-bottom: 12px;
}

.title-and-subtitle__subtitle {
}

.billing-three-columns__second {
}

.billing-three-columns__third {
}

.pricing-table {
}

.pricing-table__titles th {
}

.pricing-table-titles__item-name {
}

.pricing-table-titles__qty,
.pricing-table-titles__price,
.pricing-table-titles__total {
}

.pricing-table-titles__price {
}

.pricing-table-titles__total {
}

.pricing-table__row {
}

.pricing-table__row-item-name {
}

.pricing-table__row-qty,
.pricing-table__row-price,
.pricing-table__row-total {
}

.pricing-table__row-qty {
}

.pricing-table__row-price,
.pricing-table__row-total {
}

.pricing-table__row-total {
}

.pricing-table__row-qty,
.pricing-table__row-price {
  color: #7e88c3;
}

.pricing-table--row-botomm {
  padding-bottom: 40px;
}

.pricing-table__footer {
}

.pricing-table__footer-amount {
}

.pricing-table__footer-final-price {
}

.pricing-table-mobile {
}

.pricing-table-mobile__container {
}

.pricing-table-mobile__row {
}

.pricing-table-mobile__title,
.pricing-table-mobile__total,
.pricing-table-mobile__qty-price {
}

.pricing-table-mobile__qty-price {
}

.pricing-table-mobile__total {
}

.pricing-table-mobile__footer {
}

.pricing-table-mobile__footer-amount {
}

.pricing-table-mobile__footer-final-price {
}

@media (max-width: 670px) {
  .invoice-details .invoice-actions {
    display: none;
  }

  .billing-three-columns {
    grid-template-columns: repeat(2, 50%);
    gap: 32px 0;
  }

  .billing-three-columns__third {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .invoice-details {
    padding: 24px;
  }

  .pricing-table {
    display: none;
  }

  .pricing-table-mobile {
    display: inline;
  }
}

@media (max-width: 490px) {
  .billing-two-columns {
    flex-direction: column;
  }

  .billing-two-columns .four-texts {
    text-align: left;
    padding-top: 30px;
  }

  .billing-three-columns {
    margin-top: 31px;
  }
}

@media (max-width: 670px) {
  .invoice-details {
    margin-bottom: 147px;
  }
}
