.invoice-list {
  grid-column: 2/3;
  min-width: 317px;
}

.invoice-list__header {
  margin-bottom: 65px;
  display: flex;
}

.invoice-list-overview__title {
  margin: 0 0 4px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.625px;
  text-align: left;
}

.invoice-list-overview__total {
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  color: #888eb0;
}

.invoice-list-overview {
  margin-right: auto;
}

@media (max-width: 850px) {
  .invoice-list {
    margin: 56px 0 0 0;
  }
}

@media (max-width: 650px) {
  .invoice-list {
    width: 80%;
    margin: 56px auto 0 auto;
  }
}
