@import "npm:@fontsource/spartan/500.css";
@import "npm:@fontsource/spartan/700.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  all: unset;
  cursor: pointer;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

body {
  font-family: "Spartan", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8fb;
  padding: 0;
  margin: 0;
  font-weight: 500;
  min-width: 360px;
}

.main-layout {
  min-width: 360px;
  display: grid;
  grid-template-columns: 103px auto;
}

@media (max-width: 850px) {
  .main-layout {
    grid-template-rows: 80px auto;
  }
}
