@import "@fontsource/spartan/500.css";
@import "@fontsource/spartan/700.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  all: unset;
  cursor: pointer;
}

body {
  font-family: "Spartan", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8fb;
  padding: 0;
  margin: 0;
  font-weight: 500;
  min-width: 360px;
}

.main-layout {
  display: grid;
  grid-template-columns: 103px 16% 730px 78%;
}

@media (max-width: 1225px) {
  .main-layout {
    grid-template-columns: 103px auto 730px auto;
  }
}

@media (max-width: 948px) {
  .main-layout {
    grid-template-columns: 103px auto;
  }
}

@media (max-width: 850px) {
  .main-layout {
    grid-template-columns: 48px auto 48px;
    grid-template-rows: 80px auto;
  }
}

@media (max-width: 710px) {
  .main-layout {
    grid-template-columns: auto 424px auto;
  }
}

@media (max-width: 484px) {
  .main-layout {
    grid-template-columns: 24px auto 24px;
  }
}
