.five-fields-container {
  display: grid;
  grid-template-columns: 214px 46px 100px 45px auto;
  gap: 16px;
}

.five-fields-container .field__validation {
  display: none;
}

.five-fields-container--hidden-labels .field__label {
  display: none;
}

.five-fields-container .field__input {
  margin-top: 0;
  margin-bottom: 18px;
}

.five-fields-container .field__label {
  margin-bottom: 16px;
}

.footer-form .secondary-button {
  margin: 0 8px;
}

.footer-form .tertiary-button {
  margin-right: auto;
}

.view-invoice-page__gradient .gradient {
  display: none;
  width: 100%;
}

.field__input--no-margin-bottom {
  margin-bottom: 0px;
}

.field__input--center input {
  padding-left: 0px;
  text-align: center;
}

.field__total div {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
  padding-top: 17px;
}

.field__button-delete {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 16px 0 auto auto;
}

.field__button-delete--separation-top {
  margin-top: 47px;
}

@media (max-width: 670px) {
  .view-invoice-page__gradient .gradient {
    display: inline;
  }
}

@media (max-width: 850px) {
  .gradient {
    width: 616px;
    left: 0px;
  }
}

@media (max-width: 616px) {
  .title {
    padding-bottom: 24px;
  }

  .new-invoice-page .gradient {
    width: 100%;
  }
}
