.h2 {
  display: block;
  color: #7c5dfa;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin-bottom: 24px;
}

.three-input-container {
  display: grid;
  margin-bottom: 48px;
  grid-template-columns: repeat(3, 30%);
  gap: 0 5%;
  position: relative;
}

.three-input-container .field__validation {
  display: none;
  color: #ec5757;
  position: absolute;
  bottom: 0;
}

.two-input-container {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 4%;
  margin-bottom: 24px;
}

.two-input-container .field__validation {
  display: none;
}

.item-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.375px;
  color: #777f98;
  margin: 32px 0 16px 0;
}

.five-fields-container {
  display: grid;
  grid-template-columns: 214px 46px 100px 45px auto;
  gap: 16px;
}

.five-fields-container .field__validation {
  display: none;
}

.five-fields-container--hidden-labels label,
h3.field__title--hidden {
  display: none;
}

.five-fields-container .field__input {
  margin-top: 0;
  margin-bottom: 18px;
}

.five-fields-container .field__label {
  margin-bottom: 16px;
}

.five-fields-container__add-new-item {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 39px;
}

.footer-form {
  width: 719px;
  min-width: 360px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  position: fixed;
  bottom: 0;
  left: 0px;
  padding: 31px 56px 31px 159px;
  display: flex;
  justify-content: flex-end;
  animation: desplazamiento 0.8s ease-out;
}

.footer-form .secondary-button {
  margin: 0 8px;
}

.footer-form .tertiary-button {
  margin-right: auto;
}

.view-invoice-page__gradient .gradient {
  display: none;
  width: 100%;
}

.field__input--no-margin-bottom {
  margin-bottom: 0px;
}

.field__input--center {
  padding-left: 0px;
  text-align: center;
}

.field__total div {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
  padding-top: 17px;
}

.field__button-delete {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 16px 0 auto auto;
}

.field__button-delete--separation-top {
  margin-top: 47px;
}

@media (max-width: 670px) {
  .view-invoice-page__gradient .gradient {
    display: inline;
  }
}

@media (max-width: 850px) {
  .invoice-form {
    width: 616px;
    padding: 65px 56px 110px 56px;
    top: 80px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .gradient {
    width: 616px;
    left: 0px;
  }

  .footer-form {
    width: 616px;
    left: 0px;
    padding: 31px 56px;
  }
}

@media (max-width: 616px) {
  .invoice-form {
    padding: 32px auto 91px auto;
    width: 100%;
    border-radius: 0px;
  }
  .title {
    padding-bottom: 24px;
  }
  .footer-form {
    width: 100%;
  }
  .new-invoice-page .gradient {
    width: 100%;
  }
  .item-list {
    margin: 66px 0 24px 0;
  }

  .two-input-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 73px);
    gap: 24px;
  }
  .three-input-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 73px);
    gap: 24px 5%;
    margin-bottom: 40px;
  }
  .three-input-container .field:last-child {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .three-input-container__three {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .five-fields-container {
    grid-template-columns: 25% 35% 20% auto;
    grid-template-rows: repeat(2, 1fr);
    gap: 24px 16px;
    margin-bottom: 48px;
  }
  .five-fields-container__column-item-name {
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .five-fields-container__column-qty {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .five-fields-container__column-price {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .five-fields-container__column-total {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .field__button-delete {
    margin-right: 8px;
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .five-fields-container--hidden-labels label,
  h3.field__title--hidden {
    display: inline;
  }

  .five-fields-container .field__input {
    margin-bottom: 0;
  }

  .five-fields-container--hidden-labels .field__button-delete {
    margin-top: 32px;
  }

  .footer-form {
    height: 91px;
    padding: 21px 24px 21px 24px;
    border-radius: 0;
  }
}

@media (max-width: 500px) {
  .invoice-form {
    padding: 32px 24px 0 24px;
    margin-top: 0;
    top: 75px;
  }
}
