.payment-status-label {
  height: 40px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-status-label--pending {
  background-color: #ff910017;
  color: #ff8f00;
}

.payment-status-label--pending .payment-status-label__circle {
  background-color: #ff8f00;
}

.payment-status-label--paid {
  background-color: #33d6a017;
  color: #33d69f;
}

.payment-status-label--paid .payment-status-label__circle {
  background-color: #33d69f;
}

.payment-status-label--draft {
  background-color: #373b5317;
  color: #373b53;
}

.payment-status-label--draft .payment-status-label__circle {
  background-color: #373b53;
}

.payment-status-label__circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.payment-status-label__text {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-left: 8px;
  text-transform: capitalize;
  line-height: 1px;
}

.payment-status-label--fixed-size {
  padding: 13px 17px 12px 18px;
}

@media (max-width: 650px) {
  .payment-status-label {
    width: 103px;
    height: 40px;
    margin-bottom: 20px;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: end;
  }
}
