.header {
  background-color: #373b53;
  user-select: none;
  width: 103px;
  height: 100vh;
  border-radius: 0 20px 20px 0;
  min-height: 350px;
  grid-column: 1/2;
  position: fixed;
  z-index: 2;
}

.header__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.header__logo-container {
  margin-bottom: auto;
  background-color: #7c5dfa;
  height: 103px;
  width: 103px;
  position: relative;
  border-top-right-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header__logo-container,
.header__theme-container,
.header__avatar-container {
  display: flex;
  justify-content: center;
}

.header__theme-container {
  padding: 32px 42px 32px 41px;
}

.header__theme {
  height: 20px;
  width: 20px;
}

.header__avatar-container {
  padding: 24px 32px 24px 31px;
  border-top: 1px solid #494e6e;
}

.header__logo-background {
  background-color: #9277ff;
  height: 50%;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  border-top-left-radius: 20px;
}

.header__logo {
  height: 37.7px;
  width: 40px;
  z-index: 2;
}

.header__avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

@media (max-width: 850px) {
  .header {
    width: 100%;
    height: 80px;
    min-height: unset;
    grid-row: 1/2;
    grid-column: 1/4;
    border-radius: 0px;
    margin-bottom: 56px;
  }

  .header__container {
    flex-flow: row nowrap;
  }

  .header__logo-container {
    width: 80px;
    height: 80px;
    margin-right: auto;
    margin-bottom: unset;
    border-radius: 0 20px 20px 0;
  }

  .header__logo-background {
    border-radius: 20px 0 20px 0;
  }

  .header__logo {
    height: 31px;
    width: 31px;
  }

  .header__avatar-container {
    border-top: none;
    border-left: 1px solid #494e6e;
  }

  .header__avatar {
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
}
