.list-page {
  grid-column: 3/4;
  margin-top: 72px;
}

@media (max-width: 948px) {
  .list-page {
    grid-column: 2/3;
  }
}

@media (max-width: 850px) {
  .list-page {
    grid-row: 2/3;
    margin: 56px 0 0 0;
  }
}
