@import "@fontsource/spartan/700.css";

.loading {
  grid-column: 2/3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  font-size: 18px;
}

.loading__message {
  font-family: "Spartan", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  bottom: 65px;
  padding: 0 20px;
}

.loading__circle::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  animation: loaderAnimation 2s ease-out infinite;
}

.loading__loader {
  width: 40rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.loading__circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
}

.loading__circle:nth-child(1) {
  background-color: #7c5dfa;
}
.loading__circle:nth-child(2) {
  background-color: #7c5dfa;
}
.loading__circle:nth-child(3) {
  background-color: #7c5dfa;
}
.loading__circle:nth-child(4) {
  background-color: #7c5dfa;
}
.loading__circle:nth-child(5) {
  background-color: #7c5dfa;
}

.loading__circle:nth-child(1)::before {
  background-color: #f8f8fb;
}
.loading__circle:nth-child(2)::before {
  background-color: #dfe3fa;
  animation-delay: 0.2s;
}
.loading__circle:nth-child(3)::before {
  background-color: #7e88c3;
  animation-delay: 0.4s;
}
.loading__circle:nth-child(4)::before {
  background-color: #888eb0;
  animation-delay: 0.6s;
}
.loading__circle:nth-child(5)::before {
  background-color: #f8f8fb;
  animation-delay: 0.8s;
}

@keyframes loaderAnimation {
  0% {
    transform: scale(1);
  }

  50%,
  75% {
    transform: scale(2.5);
  }

  80%,
  100% {
    opacity: 0;
  }
}
@media (max-width: 850px) {
  .loading {
    font-size: 15px;
    grid-column: 1/3;
  }

  .loading__circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
  }

  .loading__loader {
    width: 15rem;
  }
}
