.view-invoice-page {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 18% 730px 26%;
  margin: 64px 0 54px 0;
  min-width: 360px;
}

.invoice-details-header {
  grid-column: 2/3;
}

.page-navigation {
  margin-bottom: 22px;
}

.page-navigation__button {
  padding: 10px 5px 10px 24px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}
.page-navigation__button:hover {
  color: #7e88c3;
}

.modify-invoice {
  width: 100%;
  height: 88px;
  padding: 0 32px 0 32px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modify-invoice__payment-status {
  display: flex;
  align-items: center;
}

.modify-invoice__label {
  color: #858bb2;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin-right: 16px;
}

.view-invoice-page__gradient .gradient {
  display: none;
  width: 100%;
}

@media (max-width: 1260px) {
  .view-invoice-page {
    grid-template-columns: auto 730px auto;
  }
}

@media (max-width: 1260px) {
  .view-invoice-page {
    grid-template-columns: auto 730px auto;
  }
}

@media (max-width: 993px) {
  .view-invoice-page {
    grid-template-columns: 80px auto 80px;
  }
}

@media (max-width: 952px) {
  .view-invoice-page {
    grid-template-columns: auto 688px auto;
  }
}

@media (max-width: 850px) {
  .view-invoice-page {
    grid-column: 1/4;
    grid-row: 2/3;
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .view-invoice-page {
    grid-template-columns: 40px auto 40px;
  }
}

@media (max-width: 670px) {
  .view-invoice-page {
    margin: 32px 0 0 0;
    grid-template-columns: 24px auto 24px;
  }
  .modify-invoice__payment-status {
    width: 100%;
    justify-content: space-between;
  }

  .view-invoice-page__gradient .gradient {
    display: inline;
  }
}
