.view-invoice {
  margin: 64px 0 54px 0;
  grid-column: 3/4;
}

.page-navigation {
  margin-bottom: 22px;
}

.page-navigation__button {
  padding: 10px 5px 10px 24px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.modify-invoice {
  width: 100%;
  height: 88px;
  padding: 0 32px 0 32px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modify-invoice__payment-status {
  display: flex;
  align-items: center;
}

.modify-invoice__label {
  color: #858bb2;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin-right: 16px;
}

.invoice-actions {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.invoice-actions__edit {
  color: #7e88c3;
  background: #f9fafe;
  padding: 17px 24px 16px 24px;
  border-radius: 24px;
  margin-right: 8px;
}

.invoice-actions__delete {
  color: #ffffff;
  background: #ec5757;
  padding: 17px 24px 16px 24px;
  border-radius: 24px;
  margin-right: 8px;
}

.invoice-actions__paid {
  color: #ffffff;
  background: #7c5dfa;
  padding: 17px 24px 16px 24px;
  border-radius: 24px;
}
