.list-invoices-page {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 18% 730px 26%;
  margin-top: 72px;
}

@media (max-width: 1260px) {
  .list-invoices-page {
    grid-template-columns: auto 730px auto;
  }
}
@media (max-width: 993px) {
  .list-invoices-page {
    grid-template-columns: 80px auto 80px;
  }
}

@media (max-width: 850px) {
  .list-invoices-page {
    grid-column: 1/3;
    grid-template-columns: 48px auto 48px;
  }
}
@media (max-width: 415px) {
  .list-invoices-page {
    grid-template-columns: auto 320px auto;
  }
}
