.field__input[type="number"]::-webkit-inner-spin-button,
.field__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field__input[type="number"] {
  -moz-appearance: textfield;
}

.field__input[type="date"] {
  padding: 0 0 0 20px;
}

::-webkit-calendar-picker-indicator {
  width: 16px;
  height: 16px;
  padding-right: 1rem;
}

::placeholder {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
  opacity: 0.4;
}

.field__validation {
  display: none;
  color: #ec5757;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
}

.field--error .field__label {
  color: #ec5757;
}

.field--error {
  margin-bottom: 15px;
}

.field {
  position: relative;
}

.error {
  color: #ec5757;
  font-weight: 600;
  margin-top: 10px;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.208333px;
  position: absolute;
  bottom: -30px;
}

.field--error .field__input {
  border: solid 1px #ec5757;
}

.field__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
}

.field__input {
  width: 100%;
  height: 48px;
  margin-top: 10px;
  padding: 17px 0px 16px 20px;
  border: solid 1px #dfe3fa;
  border-radius: 4px;
  outline: none;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.fieldset-charges .field--error .error {
  display: none;
}

.field__input:focus {
  border: solid 1px #7c5dfa;
}

.field.field--error .field__input:focus {
  border: solid 1px #ec5757;
}

@media (max-width: 650px) {
  .field__input {
    font-size: 16px;
    padding: 10px;
  }
}
