@import "@fontsource/spartan/500.css";
@import "@fontsource/spartan/700.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Spartan", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8fb;
  padding: 0;
  margin: 0;
  font-weight: 500;
  min-width: 360px;
}

.ninja {
  display: none;
}

/* Add variables for theme management purposes */

/* <Header> */
#header ul {
  margin: 0;
  padding: 0;
  background-color: #373b53;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  user-select: none;
}

.logo-container {
  background-color: #7c5dfa;
  height: 80px;
  width: 80px;
  position: relative;
  border-top-right-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.logo-container,
.theme-switch-container,
.avatar-container {
  display: flex;
  align-items: center;
}

.theme-switch-container img {
  padding: 20px 32px;
}

.avatar-container {
  padding: 0 32px 0 32px;
  border-left: 1px solid #494e6e;
}

.logo-background {
  background-color: #9277ff;
  height: 50%;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  border-top-left-radius: 20px;
}

#logo {
  height: 29px;
  width: 31px;
  z-index: 2;
}

#avatar {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

/* <Header /> */

/* <InvoiceList> */
.invoice-list {
  margin: 32px 24px 0 24px;
}

.invoice-list-header {
  margin: 0 0 32px 0;
}

.invoice-list-primary-heading {
  margin: 0 0 4px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.625px;
  text-align: left;
}

.invoice-list-secondary-heading {
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  color: #888eb0;
}

.invoice-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.invoice-list-headings-container {
  margin-right: auto;
}

.invoice-filter-label {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin-right: 12px;
}

/* Add variables for animation duration */
.invoice-filter-arrow-down {
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
}

.invoice-filter-arrow-up {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in-out;
}

.new-invoice {
  color: white;
  background-color: #7c5dfa;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  padding: 6px 0 6px 6px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: none;
  border-radius: 24px;
  user-select: none;
}

.new-invoice-icon-wrapper {
  background-color: white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.new-invoice-icon-wrapper img {
  height: 10px;
  width: 10px;
  color: #7c5dfa;
}

.new-invoice-text {
  margin: 0 14px 0 8px;
  padding-top: 1px;
}

.invoice-filter-list-container {
  position: relative;
  user-select: none;
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0px 18px;
}

.invoice-filter-list-inner-container {
  position: absolute;
  top: 53px;
  right: -18px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: 8px;
  padding: 0;
  width: 192px;
  padding: 24px 0 24px 24px;
  margin: 0;
  border: none;
}

.invoice-filter-list-inner-container :last-child {
  margin-bottom: 0 !important;
}

.invoice-filter-container {
  margin-bottom: 15px;
  height: 16px;
}

.invoice-filter-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.invoice-filter-label {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  cursor: pointer;
}

.invoice-filter-checkbox + .invoice-filter-text:before {
  content: "";
  border-radius: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 13px;
  vertical-align: -2px;
  background-color: #dfe3fa;
}

/* Checked checkbox style (in this case the background is red) */
.invoice-filter-checkbox:checked + .invoice-filter-text:before {
  /* NOTE: Replace the url with a path to an SVG of a checkmark to get a checkmark icon */
  background-image: url("assets/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* The size of the checkmark icon, you may/may not need this */
  background-size: 10px;
  border-radius: 2px;
  background-color: #7c5dfa;
  color: white;
}

/* Adding a dotted border around the active tabbed-into checkbox */
.invoice-filter-checkbox:not(:checked) + .invoice-filter-text:hover:before {
  /* Visible in the full-color space */
  box-shadow: 0px 0px 0px 2px #7c5dfa;

  /* Visible in Windows high-contrast themes
     box-shadow will be hidden in these modes and
     transparency will not be hidden in high-contrast
     thus box-shadow will not show but the outline will
     providing accessibility */
  outline-color: transparent;
  outline-width: 2px;
  outline-style: dotted;
}

/* Disabled checkbox styles */
.invoice-filter-checkbox:disabled + .invoice-filter-text {
  cursor: default;
  color: black;
  opacity: 0.5;
}

.invoice-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
/* <InvoiceList/> */
